---
layout: default
title: CHISCO VALDÉS - Filmmaker & Visual Artist
---

<div id="outer-wrapper" class="pb-5 p-sm-4">
  <div class="wrapper">

    {% for item in site.data.samples %}
      {% assign html = item.path | strip %}

      {% if html contains "<iframe" %}
        {{ item.path }}
      {% elsif item.link %}
        <a class="work-link" href="{{ item.link }}" target="_blank" rel="noopener">
          {{ item.path }}
        </a>
      {% else %}
        {{ item.path }}
      {% endif %}
    {% endfor %}

    <div class="text-block">
      <p>Contact: <a href="mailto:hello@callmepapi.art" class="text-dark">hello@callmepapi.art</a></p>
    </div>

  </div>
</div>
