.social-icons {
  color: #313437;
  background-color: #fff;
  text-align: center;
  padding: 70px 0;
}

@media (max-width:767px) {
  .social-icons {
    padding: 50px 0;
  }
}

.social-icons i {
  font-size: 20px;
  display: inline-block;
  color: #ffffff;
  margin: 0 10px;
  width: 39px;
  height: 39px;
  border: 1px solid #000000;
  text-align: center;
  border-radius: 50%;
  line-height: 38px;
  background-color: black;
}

