<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <!-- SEO -->
    <meta name="description" content="My friends call me papi." />
    <link rel="canonical" href="https://www.callmepapi.art{{ page.url | replace:'index.html','' }}" />

    <!-- Open Graph -->
    <meta property="og:title" content="CHISCO VALDÉS - Filmmaker & Visual Artist" />
    <meta property="og:description" content="My friends call me papi." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.callmepapi.art/assets/images/media.jpeg" />
    <meta property="og:image:width" content="1600" />
    <meta property="og:image:height" content="1322" />
    <meta property="og:url" content="https://www.callmepapi.art{{ page.url | replace:'index.html','' }}" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Playfair+Display:wght@400;600&family=Italianno&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="icon" type="image/png" href="{{ '/assets/favicon.png' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
  </head>

  <body>
    <nav class="navbar navbar-expand fixed-bottom navbar-light bg-white">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{{ '/' | relative_url }}">WORK</a>
            </li>
            <li class="nav-link active"> · </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ '/about' | relative_url }}">ABOUT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{ content }}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
